{% extends 'base.html' %}

{% load static %}

{% block title %}
    All Posts
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-3 align-items-center">
    <h1>All Posts</h1>
        {% for item in posts %}
        <div class="card rounded p-3 w-50 align-items-center">
            <h3  class=""> Title: {{ item.title }}</h3>
            <span><strong>Author: </strong>{{ item.author }}</span>
            <p>Body: {{ item.body | truncatechars:5}}</p>
            <button class="rounded-pill border-1"><a href="{% url 'post_detail' item.id %}">Continue Reading...</a></button>
        </div>
        {% endfor %}
    </div>
{% endblock %}